

<h1 class="flex justify-content-center">Cambiar contraseña</h1>
<form [formGroup]="formChangePassword">
    <div class="flex flex-column gap-2 p-2">
        <label>Contraseña actual</label>
        <input pInputText [ngClass]="isValidField('currentPassword') ? 'ng-dirty ng-invalid' : ''" type="text" autocomplete="false" formControlName="currentPassword"/>
        <small *ngIf="isValidField('currentPassword')" class="p-error">{{errorMessageForm("currentPassword")}}</small>
    </div>
    <div class="flex flex-column gap-2 p-2">
        <label>Nueva contraseña</label>
        <input pInputText [ngClass]="isValidField('newPassword') ? 'ng-dirty ng-invalid' : ''" type="text" autocomplete="false" formControlName="newPassword"/>
        <small *ngIf="isValidField('newPassword')" class="p-error">{{errorMessageForm("newPassword")}}</small>
    </div>
    <div class="flex flex-column gap-2 p-2">
        <label>Confirmar nueva contraseña</label>
        <input pInputText [ngClass]="isValidField('confirmNewPassword') ? 'ng-dirty ng-invalid' : ''" type="text" autocomplete="false" formControlName="confirmNewPassword"/>
        <small *ngIf="isValidField('confirmNewPassword')" class="p-error">{{errorMessageForm("confirmNewPassword")}}</small>
    </div>
</form>

<div class="flex justify-content-center">
    <button [disabled]="formChangePassword.invalid" (click)="changePassword()" class="p-3 p-button p-component" [ngStyle]="{backgroundColor:'#d9342b'}">
    <span class="p-button-label">Aceptar</span>
  </button>
</div>
    
