<p-toast></p-toast>
<p-steps [model]="items" [readonly]="true" [activeIndex]="activeIndex" (activeIndexChange)="onActiveIndexChange($event)"></p-steps>

    <div

        *ngIf="activeIndex == 0"
        class="px-4 py-8 md:px-6 lg:px-8 flex align-items-center justify-content-center"
        >
        <div class="container-forgot"></div>

        <div
          class="p-6 shadow-2 text-center lg:w-30rem form-forgot"
          style="
            border-radius: 12px;
            background-color: rgba(32, 30, 30, 0.792);
            color: rgba(255, 255, 255, 0.8);
          "
        >
        <div class="text-4xl font-medium mb-6">Recuperar contraseña</div>
        <input

          [(ngModel)]="email"

          placeholder="Correo electrónico"

          class="appearance-none border-none p-3 w-full outline-none text-xl block mb-4 bg-white-alpha-10 text-white-alpha-60"
          style="border-radius: 30px"
        />

        <button
          (click)="recoveryPasswordUser()"
          class="appearance-none border-none p-3 w-full outline-none text-xl mb-4 font-medium w-12rem bg-white-alpha-30 hover:bg-white-alpha-40 text-white-alpha-80 transition-colors transition-duration-150"
          style="border-radius: 30px"
        >Enviar
        </button>
            <a routerLink="/auth/login" href=""class="cursor-pointer font-medium block text-center">Regresar</a>

        </div>
    </div>

    <div

    *ngIf="activeIndex == 1"
      class="px-4 py-8 md:px-6 lg:px-8 flex align-items-center justify-content-center"
    >
      <div class="container-forgot"></div>
      <!-- Por favor cambiar esa imagen -->
      <div
        class="p-6 shadow-2 text-center lg:w-30rem form-forgot"
        style="
          border-radius: 12px;
          background-color: rgba(32, 30, 30, 0.792);
          color: rgba(255, 255, 255, 0.8);
        "
      >
        <div class="text-4xl font-medium mb-6">
          Ingrese el código de verificación
        </div>
        <input
          type="text"
          placeholder="Código"
          [(ngModel)]="password"
          class="appearance-none border-none p-3 w-full outline-none text-xl block mb-4 bg-white-alpha-10 text-white-alpha-60"
          style="border-radius: 30px"
        />

        <button
          class="appearance-none border-none p-3 w-full outline-none text-xl mb-4 font-medium w-12rem bg-white-alpha-30 hover:bg-white-alpha-40 text-white-alpha-80 transition-colors transition-duration-150"
          style="border-radius: 30px"
          (click)="onLogin()"
        >
          Enviar
        </button>

        <a
          class="cursor-pointer font-medium block text-center"
          routerLink="/auth/login"
          >Regresar</a
        >
      </div>
    </div>

    <div
    *ngIf="activeIndex == 2"
      class="px-4 py-8 md:px-6 lg:px-8 flex alig´n-items-center justify-content-center"
    >
      <div class="container-forgot"></div>

      <div
        class="p-6 shadow-2 text-center lg:w-30rem form-forgot"
        style="
          border-radius: 12px;
          background-color: rgba(32, 30, 30, 0.792);
          color: rgba(255, 255, 255, 0.8);
        "
      >
        <div class="text-4xl font-medium mb-6">Por favor cambie la contraseña</div>
        <form [formGroup]="formPaswords">
          <div class="input-container">

            <p-password
              id="newPassword"
              formControlName="newPassword"
              [toggleMask]="true"
            ></p-password>
            <div
            style="height: 100; width: 100;"
            class="mb-4"
            >

            </div>
          </div>
          <div class="input-container">

            <p-password
              id="confirmPassword"
              formControlName="confirmPassword"
              [toggleMask]="true"
            ></p-password>


          </div>
        </form>
        <button

          class="appearance-none border-none p-3 w-full outline-none text-xl mb-4 font-medium w-12rem bg-white-alpha-30 hover:bg-white-alpha-40 text-white-alpha-80 transition-colors transition-duration-150"

          style="border-radius: 30px; margin: 15px 0"
          (click)="changesPassword()"
        >
          Enviar
        </button>

        <a
          class="cursor-pointer font-medium block text-center"
          routerLink="/auth/login"
          >Regresar</a
        >
      </div>
    </div>
